
.sidebar-menu{
  list-style-type: none;
  margin: 0;
  padding: 25px 0;
  font-size: 14px;
}

.sidebar-menu__item{
  position: relative;
}

.sidebar-menu__item a{
  color: #FFF;
  text-decoration: none;
  padding: 7px 25px;
  display: block;
  transition: all .3s ease;
}

.sidebar-menu__item a svg{
  display: inline-block;
  margin-right: 15px;
  vertical-align: -2px;
}

.sidebar-menu__item a svg path{
  transition: all .3s ease;
  fill: #FFF;
}

.sidebar-menu__item a.is-active,
.sidebar-menu__item:hover a{
  color: #FF424F;
}

