.Movie-wrapper{
  padding: 4% 0;
  position: relative;
  color: #31dfb7;
  text-align: left;
}

.Movie-wrapper .go-back {
  display: table; 
}

.movie-content{
  display: flex;
  position: relative;
  z-index: 1;
  margin-top: 2%;
}

.movie-data{
  padding-left: 35px;
  box-sizing: border-box;
  width: 60%;
}

.movie-poster{
  border-radius: 3px;
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.2);
}

.movie-title,
.movie-overview-title,
.movie-overview{
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.movie-title{
  font-weight: normal;
  text-align: left;
  margin: 0;
  padding: 0;   
  margin-bottom: 25px;
}

.movie-overview-title{
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0;
}

.movie-rating {
  width: 100px;
  float: left;
  margin-right: 20px;
  font-size: 13px;
  color: #ffffff;
}

.detail-list, .list-title, .list-content{
  float: left;
  margin-bottom: 10px;
  display: table; 
} 

.detail-list .flex {
  display: table;
}

.list-title{
  width: 120px; 
  color: #ffffff;
  margin-bottom: 10px;
}

.line {
  background: #31dfb7;
  height: 2px;
  display: table;
  width: 100%;
}

.overview {
  display: table;
  width: 100%;
}

.movie-overview {
  color: #bbb;
  margin-top: 10px;
}

.cast-list .cast-row {
  float: left;
  width: 15%;
  margin-right: 3%;
}

.cast-list .cast-row img, .background-list img  {
  width: 100%;
}

.cast.line, .background.line {
  margin-top: 30px;
  display: inline-block;
}

.background-list .gallery div {
  width: 48%;
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
}

.CircularProgressbar {  
  width: 60px;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #31dfb7;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: grey;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: white;
  font-size: 26px;
  font-weight: bold;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}

